.subteamNavbar {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: rgba(0, 0, 0, 1);
    padding: 10px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links button {
    background: none;
    border: 2px solid #ffffff55;
    color: white;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
  }
  
  .nav-links button:hover {
    background: var(--logo-blue); /* ili neka nijansa plave koju koristiš */
    border-color: var(--logo-blue);
    color: #101010;
    transform: scale(1.05);
  }
  